{% extends 'base.html' %}
{% load static %}
{% block extend_head %}

{% endblock %}


{% block content %}

<h3>API Route and weather Project-Sign In</h3>

<div>

    <form id="signinform" method="POST" action="/sign-in">
        {% csrf_token %}
        <label for="username">Username</label>
        {{form.username}}

        <label for="password">password</label>
        {{form.password}}
        <label class="check container">show passwords
        <input type="checkbox" onclick="showpword()">
        <span class="checkmark"></span>
    </label>

    <button type="submit">Sign In</button>

    </form>

</div>

{% endblock %}

{% block extend_footer %}

{% endblock %}